h1{
	font-size:2em;
	margin:0;
}
.Container{
	display:grid;
	grid-template-columns:550px 200px 100px;
	grid-template-rows:100px;
	grid-template-areas:
	"header nav ."
}
.Container2{
	grid-template-columns:100px 100px;
	grid-template-rows:auto;
}
body {
	background-color: darkgoldenrod;
}
a{
	text-decoration:none;
	font-size:2em;
}
a:hover{
	color:black;
}
a:link{
	color:black;
}
a:visited{
	color:black;
}
ul{
	list-style-type:none;
	padding:0;
}